/* home.css */
  .mainContainer {
    display: flex;
  }
 
  .body{
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-left: 0px;
  }
  .about-content{
    width:85%;
    height: 800px;
    background-image: url(https://images.pexels.com/photos/5926397/pexels-photo-5926397.jpeg);
    background-size: cover;
    color:aliceblue;
  }
  .p{
    text-align: left;
    font-family: Apple Chancery, cursive;
    font-size: 40px;
  }

  
  .left-align {
    text-align: left;
    font-family: Apple Chancery, cursive;
    font-size: 18px;
  }
  
  h2{
    font-family: Apple Chancery, cursive;
  }

 .profile-form{
  color: aliceblue;
 }



  