.faq-container{
    width: 85%;
    background-image: url(https://images.pexels.com/photos/5926397/pexels-photo-5926397.jpeg);
    color: white;
    font-family: Apple Chancery, cursive;
    font-size: 17px;

}