.social-btn {
    display: flex;
    width: 140px;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    margin-bottom: 5px;
    position: relative;
    left: -145px;
    transition: left 1s;
  }
  

  .social {
    position: fixed;
    top: 200px;
  }
  
  .social a {
    text-decoration: none;
  }
  
  .color-telegram {
    background-color: #010101;;
  }
  
  .color-instagram {
    background-color: #040404e0;
  }
  
  .color-whatsapp {
    background-color:rgba(7, 7, 7, 0.797);
  }
  
  .google-font {
    font-family: "Lato", sans-serif;
    font-size: 1.25rem;
    color: aliceblue;
  }
  
  .social-btn img {
    width: 40px;
    padding-left: 100px;
    color: aliceblue;
  }
  
  .social-btn p {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
  }